:root {
  --color-mode: 'light';
  --color-dark: #212121;
  --color-light: #efefef;
  --background: #efefef;
  --text-color: #212121;
  --link-color: #084c88;
  --link-dark-color: #48a4f5;
  --button-background: var(--color-dark);
  --button-color: var(--color-light);
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.25;
  font-size: calc(1rem + 0.2vh + 0.1vw);
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 60em;
  padding: 2em;
}

section {
  margin-bottom: 1.5em;
}

article {
  margin-bottom: 1.5em;
}

a {
  color: var(--link-color);
}

p {
  margin: 0 0 0.5em 0;
  max-width: 75ch;
}

.print-only {
  display: none;
}

.heading {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.heading--xl {
  font-size: calc(3rem + 0.2vh + 0.1vw);
  margin-bottom: .5em;
}
.heading--l {
  font-size: calc(2.25rem + 0.2vh + 0.1vw);
}
.heading--m {
  font-size: calc(1.5rem + 0.2vh + 0.1vw);
}
.heading--s {
  font-size: calc(1.25rem + 0.2vh + 0.1vw);
}

.heading__caption {
  display: block;
  font-size: calc(1rem + 0.2vh + 0.1vw);
}

.no-js .theme-toggle {
  display: none;
}

.theme-toggle {
  margin: 0 auto;
  text-align: center;
}

.theme-toggle__button {
  display: inline-flex;
  background: var(--button-background);
  color: var(--button-color);
  border: 1px solid transparent;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font: inherit;
  font-size: 1rem;
  padding: 0.5rem;
}

.theme-toggle__button:focus {
  outline-offset: -3px;
  outline-color: var(--link-dark-color);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme-color-scheme]) {
    --color-mode: 'dark';
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --link-color: var(--link-dark-color);
    --button-background: var(--color-light);
    --button-color: var(--color-dark);
  }

  [data-theme-color-scheme="dark"] {
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --link-color: var(--link-dark-color);
    --button-background: var(--color-light);
    --button-color: var(--color-dark);
  }
}

@media print {
  .print-only {
      display: block;
  }
  a[href]:after{
      content: " [" attr(href) "] ";
  }
}
